@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

header {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}
body .subhead {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 8px 0 8px 0;
}
body .content {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 400vh;
  gap: 1%;
}
body .content .column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body .content .first_column {
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 30px;
  padding-left: 2px;
  padding-right: 4px;
  gap: 8px;
}
body .content .second_column {
  width: 79%;
  padding-top: 30px;
  padding-right: 2px;
  padding-left: 4px;
}
body .forecast {
  display: flex;
  align-items: center;
  justify-items: stretch;
  flex-direction: column;
  width: 100%;
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  font-family: "Playfair Display", serif;
}
body .weather_forecast_container {
  width: 100%;
  color: #000;
}
body .weather_forecast_container input {
  all: unset;
  border-bottom: 2px solid rgba(165, 165, 165, 0.737254902);
  height: 4vh;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
body .weather_forecast_container input::-moz-placeholder {
  color: rgba(165, 165, 165, 0.737254902);
}
body .weather_forecast_container input::placeholder {
  color: rgba(165, 165, 165, 0.737254902);
}
body .weather_forecast_container #suggestions {
  position: absolute;
  min-width: 300px;
  border-radius: 8px;
  background-color: #ffffff;
  line-height: 34px;
  z-index: 100;
}
body .weather_forecast_container #suggestions option {
  margin: 3px;
}
body .weather_forecast_container #suggestions option:hover {
  background-color: #dee2e6;
  cursor: pointer;
}
body .weather_forecast_container #weather_condition {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
body .weather_forecast_container #submit {
  all: unset;
  padding: 2px;
  border: 1px solid rgba(165, 165, 165, 0.737254902);
  box-shadow: 1px 1px 2px #2f2f2f;
  border-radius: 1px;
  color: rgba(165, 165, 165, 0.737254902);
}
body .weather_forecast_container #submit:hover {
  color: black;
  border: 1px solid black;
}
body .weather_forecast_container #weather_data {
  background-color: rgba(249, 247, 250, 0.3803921569);
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 4vh;
}
body .weather_forecast_container #weather_data .city-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body .weather_forecast_container #weather_data .city-card h5 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 500;
}
body .weather_forecast_container #weather_data .city-card img {
  width: 80px;
}
body #city_img {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid #2f2f2f;
}
body .headline {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 78vw;
  overflow: hidden;
  border-bottom: 1px solid #2f2f2f;
}
body .headline #headline_title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: xx-large;
}
body .headline .headline_sub {
  font-weight: 400;
  box-sizing: border-box;
  padding: 8px 0 8px 0;
}
body .headline .headline_sub:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 78vw;
  height: 7px;
  display: block;
}
body .headline .headline_sub:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 78vw;
  height: 10px;
  display: block;
}
body .headline #headline_content {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  line-height: 4vh;
  width: 78vw;
}
body .headline #headline_img {
  float: right;
  margin-left: 2vw;
  box-shadow: 2px 2px 2px #2f2f2f;
}
body #stocks {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body #stocks #stocks_container .stocks_container_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 94%;
}
body #stocks #stocks_container p {
  font-family: "Open Sans", sans-serif;
  width: 28%;
}/*# sourceMappingURL=index.css.map */